<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="flintstones.resolutionphase.ui">
      <ui
            id="flintstones.resolutionphase.analysis.ui"
            name="Analysis"
            resolution_phase="flintstones.resolutionphase.analysis">
         <perspective
               id="flintstones.resolutionphase.analysis.perspective">
         </perspective>
      </ui>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="sinbad2.resolutionphase.analysis.ui.AnalysisPerspective"
            icon="icons/sensitivityanalysis.png"
            id="flintstones.resolutionphase.analysis.perspective"
            name="Analysis">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="flintstones.resolutionphase.analysis.perspective">
         <view
               closeable="false"
               id="flintstones.resolutionphase.analysis.ui.view.mec"
               minimized="false"
               moveable="false"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="flintstones.element.ui.view.experts"
               minimized="false"
               moveable="false"
               ratio="0.45"
               relationship="left"
               relative="flintstones.resolutionphase.analysis.ui.view.mec"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="flintstones.element.ui.view.indexes"
               minimized="false"
               moveable="false"
               ratio="0.33"
               relationship="bottom"
               relative="flintstones.element.ui.view.experts"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="flintstones.element.ui.view.contexts"
               minimized="false"
               moveable="false"
               ratio="0.45"
               relationship="bottom"
               relative="flintstones.element.ui.view.indexes"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="flintstones.resolutionphase.analysis.ui.category"
            name="MEC">
      </category>
      <view
            allowMultiple="false"
            category="flintstones.resolutionphase.analysis.ui.category"
            class="sinbad2.resolutionphase.analysis.ui.view.MECView"
            icon="icons/formula.png"
            id="flintstones.resolutionphase.analysis.ui.view.mec"
            name="MEC"
            restorable="true">
      </view>
   </extension>

</plugin>
